SERVER_ADDR="0.0.0.0"
SERVER_PORT="8091"
SERVER_CORS_WHITELIST="http://localhost:5173,http://localhost:4173,http://localhost:3000"
REQUEST_TIMEOUT_SEC="15"
SOURCE_TIMEOUT_SEC="10"

DATABASE_URI="postgres://postgres:postgres@localhost:55432/investigations?search_path=inv"
DATABASE_MAX_CONNS="10"
DATABASE_CONN_MAX_LIFETIME_SEC="30"

LOG_LEVEL="info"
LOG_FORMAT="text"

AUTH_DISABLED="true"

PROJECT_SOURCE_ALLOWLISTS='{"abcdef1234":["maxpatrol-siem","pt-sandbox"]}'

MOCK_EVENT_COUNT="50000"
MOCK_ENDPOINT_COUNT="5000"
MOCK_HISTORY_DAYS="90"

SOURCE_MAXPATROL_SIEM_MODE="mock"
SOURCE_PT_SANDBOX_MODE="mock"
